* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  /* font-family: "Inter", sans-serif; */
  /* font-family: "Poppins", sans-serif; */
  /* font-family: "Rubik", sans-serif; */
  /* font-family: "DM Sans", sans-serif; */
  font-family: "Sora", sans-serif;
}
/* nav start */
nav {
  /* position: fixed; */

  height: 60px;
  background-color: black;
  color: white;
}
.container {
  margin: 0 35px;
  max-width: 1200px;
}

.nav-left {
  align-items: center;
  display: flex;
  gap: 20px;
}
.nav-left i {
  font-size: 25px;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade {
  animation: fadeIn 1s ease-in-out;
}
.nav-right {
  align-items: center;
  display: flex;
  gap: 20px;
}
.navbar {
  padding: 15px;
  /* margin: 0 15px; */
  align-items: center;
  display: flex;
  justify-content: space-between;
}
#themeToggle {
  width: 20px;
  height: 21px;
}
#profileMenu {
  width: 25px;
  height: 21px;
}
/* nav end */
/* main start */
#search-sec {
  margin-top: 15px;
  font-size: 25px;
  display: flex;
  justify-content: space-evenly;
}
.search {
  border-radius: 5px;
  height: 40px;
}
.search-btn {
  border-radius: 5px;
  height: 40px;
  width: 80px;
}
#cards {
  margin: 15px 0;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
}
#card img {
  width: 150px;
  border-radius: 50%;
}
#card img:hover {
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}
#card {
  padding: 8px 0;

  text-align: center;
  width: 250px;
  border: 1px solid #434141;
}
.detailed {
  margin: 7px 0;
}
.tanitim {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 15px;
}
.tanitim h4 {
  font-size: 20px;
  margin-bottom: 5px;
}
.tanitim-text {
  font-size: 30px;
}
.abunelik {
  font-size: 18px;
  margin-top: 15px;
}
.abunelik form {
  gap: 10px;
  margin: 15px 0;
}
.abunelik input {
  padding: 10px;
  width: 800px;
  border-radius: 5px;
}
.abunelik button {
  padding: 10px;
  border-radius: 5px;
  background-color: #434141;
  color: white;
}
/* main end */
/* footer start */
footer {
  background-color: black;
  color: white;
  padding: 20px 0;
  margin-top: 20px;
}
.footer-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-media {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 30px;
}
.social-media a {
  display: flex;
  gap: 8px;
  color: white;
  font-size: 20px;
}
